/* Chaoqun Ding */
@font-face {
    font-family: myfont;
    src: url(../fonts/Fuzzy_Bubbles/FuzzyBubbles-Bold.ttf);
}

@mixin rounded-box($border-style, $border-thickness, $border-color, $rounded-corners){
    border: $border-style $border-thickness $border-color;
    border-radius: $rounded-corners;
}

@mixin rounded-box1($border-style, $border-thickness, $border-color1, $border-color2, $rounded-corners){
    border-style: $border-style;
    border-width: $border-thickness;
    border-color: $border-color1 $border-color2 $border-color2 $border-color1;
    border-radius: $rounded-corners;
}

@mixin button-inactive(){
    background-color: black;
    border-color:  orange darkorange darkorange orange;
}

@mixin button-active(){
    // background-color: black;
    border-color: darkorange orange orange darkorange;
}
$padding: 10px;

#wrapper{
    background-image: url(../images/dices.jpg);
    max-width: 1080px;
    display: grid;
    margin: auto;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: myfont;
    color: darkorange;

    header, footer{
        text-align: center;
    }

}
.align-center{
    margin: auto;
    width: max-content;
}
.align-right{
    width: max-content;
    margin-left: auto;
    margin-right: 10px;
}
#game-board{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 80%;
    margin: auto;
    position: relative;
}
.player{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    padding: $padding;
    @include rounded-box1(solid, 2px, orange, darkorange, 10px);
    background-color: url(../images/dices.jpg);;
}
.player-score{
    grid-area: 1/1/span 1/span 2;
}
img{
    display: block;
    width: 100%;
}
#game-result{
    z-index: -100;
    opacity: 0;
    max-width: 200px;
}
#game-rules{
    z-index: 200;
    display: none;
    top: 0;
}
#game-result, #game-rules{
    padding: $padding;
    @include rounded-box1(solid, 2px, orange, darkorange, 10px);
    position: absolute;
    background-image: url(../images/dices.jpg);
}
h3{
    text-align: center;
    margin: 0;
}

#control-buttons{
    grid-column: 1/span 2;
}
button{
    @include button-inactive;
    color: darkorange;
    padding: $padding;
    border-radius: 10px;
    cursor: pointer;
    &:hover, &:active{
        @include button-active;
    }
}
#inactive-button{
    background-color: initial;
    @include rounded-box1(solid, 2px, orange, darkorange, 10px);
    cursor: not-allowed;
}
.not-allowed{
    cursor: not-allowed;
    background-color: grey;
}
.notice{
    span{
        font-weight: bold;
    }
    background-color: darkorange;
    color: black;
    padding: $padding;
    text-align: left;
    font-weight: lighter;
} 
#suggested-width{
    display: block;
}
@media (min-width: 750px){
    #suggested-width{
        display: none;
    }
}